/* RESET */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* FONTS */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f7f7f7;
  color: #333;
}

/* HEADER */
.header {
  background-color: #525286;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%; 
}

/* CONTAINER */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* SELECTION */
.selection {
  text-align: center;
  margin-bottom: 20px;
}

/* CAR BOX */
.car-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.person {
  flex: 0 1 calc(50% - 20px);
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.person:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.person-link {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.person-link:hover {
  color: #1e87f0;
}
